// Place all the styles related to the tracker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.positive {
	color: #53E053;
	font-weight:bold;
}

.negative {
	color:red;
	font-weight:bold;
}